
.flex-container{
    height: 1000px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    

}
.flex-item{
    width: 100px;
    height: 100px;
    background-color: black;
    border: solid 1px blanchedalmond;
    padding: 50px;
    margin: 20px;

}